<html lang="en">
    <head>
        <base href="/" />
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,viewport-fit=cover"
        />
        <meta name="Description" content="" />
        <title></title>
    </head>
    <body>
        <p>Installing service worker...</p>
        <script>
            /** Here goes the configuration of the CMS */
            SWTL_CMS_BASE_PATH = location.pathname.replace(/\/$/, '');
            SWTL_CMS_GITHUB_USER = "${SWTL_CMS_GITHUB_USER}";
            SWTL_CMS_GITHUB_REPO = "${SWTL_CMS_GITHUB_REPO}";
            SWTL_CMS_CONFIG_FILE = "${SWTL_CMS_CONFIG_FILE}" || "swtl-cms-config.json";
            SWTL_CMS_CONTENT_FILE = "${SWTL_CMS_CONTENT_FILE}" || "swtl-cms-content.json";
        </script>
        <script>
            /**
             * If no service worker is installed yet, we wait for it to be installed
             * and then reload the page
             *
             * Further updates are taken care of by the update script, because the
             * user will never see this index.html again
             */
            console.log("registering service worker");
            navigator.serviceWorker
                .register(`.${window.SWTL_CMS_BASE_PATH}/sw.js`, {
                    scope: window.SWTL_CMS_BASE_PATH + '/'
                })
                .then(async (registration) => {
                    // Send the config to the service worker
                    const worker = registration.installing || registration.waiting || registration.active;
                    worker.postMessage({
                        event: "config",
                        config: {
                            basePath: window.SWTL_CMS_BASE_PATH,
                            githubUser: window.SWTL_CMS_GITHUB_USER,
                            githubRepo: window.SWTL_CMS_GITHUB_REPO,
                            contentFile: window.SWTL_CMS_CONTENT_FILE,
                            configFile: window.SWTL_CMS_CONFIG_FILE
                        }
                    });
                    console.log(
                        "Service worker registered successfully",
                        registration,
                    );
                    if (!navigator.serviceWorker.controller) {
                        navigator.serviceWorker.addEventListener(
                            "message",
                            (event) => {
                                if (event?.data?.type === "SW_ACTIVATED") {
                                    console.log("reloading after activation");
                                    window.location.reload();
                                }
                            },
                        );
                    }
                })
                .catch((err) => {
                    console.log("Service worker registration failed: ", err);
                });
        </script>
    </body>
</html>
